body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}



::-webkit-scrollbar-button { 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:5px; 
	height:0px 
}

::-webkit-scrollbar-track { 
	background-color:#333333;
}

::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	background-color:#151515;
	height: 150px;
}

::-webkit-scrollbar-thumb:hover{ 
	background-color: #e59b37; 
}

::-webkit-resizer{ 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:4px; 
	height:0px 
}

::-webkit-scrollbar { 
	width: 4px;
}





.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hidden {
	display: none;
}

.home-background {
	width: 100%;
	height: 100vh;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	background: url(../image/3.jpg) no-repeat center;
	background-size: cover;
}

.home-background::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}



.icon-up-outline {
	position: fixed;
	color: #151515;
	top: 90vh;
	right: 40px;
	font-size: 40px;
}

.icon-up-outline:hover {
	color: #e59b37;
	cursor: pointer;
}























/*=====PRELOADER=====*/
/*===========================================================================================*/
:root {
	--duration: 1.5s;
	--container-size: 250px;
	--box-size: 33px;
	--box-border-radius: 15%; }

#preloader {
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #151515;
z-index: 999;
width: 100%;
height: 100vh;
}

.contpre {
	width: 100%;
	height: 100vh;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.preloader_container {
	width: var(--container-size);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.preloader_box {
	width: var(--box-size);
	height: var(--box-size);
	position: relative;
	display: block;
	transform-origin: -50% center;
	border-radius: var(--box-border-radius); }
	.preloader_box:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: lightblue;
		border-radius: var(--box-border-radius);
		box-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4); }
	.preloader_box:nth-child(1) {
		animation: slide var(--duration) ease-in-out infinite alternate; }
		.preloader_box:nth-child(1):after {
			animation: color-change var(--duration) ease-in-out infinite alternate; }
	.preloader_box:nth-child(2) {
		animation: flip-1 var(--duration) ease-in-out infinite alternate; }
		.preloader_box:nth-child(2):after {
			animation: squidge-1 var(--duration) ease-in-out infinite alternate; }
	.preloader_box:nth-child(3) {
		animation: flip-2 var(--duration) ease-in-out infinite alternate; }
		.preloader_box:nth-child(3):after {
			animation: squidge-2 var(--duration) ease-in-out infinite alternate; }
	.preloader_box:nth-child(4) {
		animation: flip-3 var(--duration) ease-in-out infinite alternate; }
		.preloader_box:nth-child(4):after {
			animation: squidge-3 var(--duration) ease-in-out infinite alternate; }
	.preloader_box:nth-child(5) {
		animation: flip-4 var(--duration) ease-in-out infinite alternate; }
		.preloader_box:nth-child(5):after {
			animation: squidge-4 var(--duration) ease-in-out infinite alternate; }
	.preloader_box:nth-child(2):after {
		background-color: #DBA901; }
	.preloader_box:nth-child(3):after {
		background-color: #FFBF00; }
	.preloader_box:nth-child(4):after {
		background-color: #FACC2E; }
	.preloader_box:nth-child(5):after {
		background-color: #F7D358; }

@keyframes slide {
	0% {
		background-color: #B18904;
		transform: translatex(0vw); }
	100% {
		background-color: #F7D358;
		transform: translatex(calc(var(--container-size) - (var(--box-size) * 1.25))); } }
@keyframes color-change {
	0% {
		background-color: #B18904; }
	100% {
		background-color: #F7D358; } }
@keyframes flip-1 {
	0%, 15% {
		transform: rotate(0); }
	35%, 100% {
		transform: rotate(-180deg); } }
@keyframes squidge-1 {
	5% {
		transform-origin: center bottom;
		transform: scalex(1) scaley(1); }
	15% {
		transform-origin: center bottom;
		transform: scalex(1.3) scaley(0.7); }
	25%, 20% {
		transform-origin: center bottom;
		transform: scalex(0.8) scaley(1.4); }
	55%, 100% {
		transform-origin: center top;
		transform: scalex(1) scaley(1); }
	40% {
		transform-origin: center top;
		transform: scalex(1.3) scaley(0.7); } }
@keyframes flip-2 {
	0%, 30% {
		transform: rotate(0); }
	50%, 100% {
		transform: rotate(-180deg); } }
@keyframes squidge-2 {
	20% {
		transform-origin: center bottom;
		transform: scalex(1) scaley(1); }
	30% {
		transform-origin: center bottom;
		transform: scalex(1.3) scaley(0.7); }
	40%, 35% {
		transform-origin: center bottom;
		transform: scalex(0.8) scaley(1.4); }
	70%, 100% {
		transform-origin: center top;
		transform: scalex(1) scaley(1); }
	55% {
		transform-origin: center top;
		transform: scalex(1.3) scaley(0.7); } }
@keyframes flip-3 {
	0%, 45% {
		transform: rotate(0); }
	65%, 100% {
		transform: rotate(-180deg); } }
@keyframes squidge-3 {
	35% {
		transform-origin: center bottom;
		transform: scalex(1) scaley(1); }
	45% {
		transform-origin: center bottom;
		transform: scalex(1.3) scaley(0.7); }
	55%, 50% {
		transform-origin: center bottom;
		transform: scalex(0.8) scaley(1.4); }
	85%, 100% {
		transform-origin: center top;
		transform: scalex(1) scaley(1); }
	70% {
		transform-origin: center top;
		transform: scalex(1.3) scaley(0.7); } }
@keyframes flip-4 {
	0%, 60% {
		transform: rotate(0); }
	80%, 100% {
		transform: rotate(-180deg); } }
@keyframes squidge-4 {
	50% {
		transform-origin: center bottom;
		transform: scalex(1) scaley(1); }
	60% {
		transform-origin: center bottom;
		transform: scalex(1.3) scaley(0.7); }
	70%, 65% {
		transform-origin: center bottom;
		transform: scalex(0.8) scaley(1.4); }
	100%, 100% {
		transform-origin: center top;
		transform: scalex(1) scaley(1); }
	85% {
		transform-origin: center top;
		transform: scalex(1.3) scaley(0.7); } }


/*===== / PRELOADER=====*/
/*===========================================================================================*/
























/*=====SWITCHER FOR THEME=====*/
/*===========================================================================================*/

.switcher_wrapper {
	position: absolute;
	right: 0%;
	top: 123%;
	margin-top: -20px;
}

.switcher_label {
	display: block;
	left: 0px;
	top: 0;
	position: relative;
	width: 120px;
	height: 20px;
	z-index: 10;
	font-weight: bold;
	background: #303030;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
	border-radius: 7px;

}

.switcher_label:after {
	content: "WHITE";
	width: 60px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	background: white;
	color: black;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
	border-radius: 7px;
	padding: 3px 0px 0px 10px;
	font-size: 12px;
}

#checkbox {
	display: none;
}

:checked + .switcher_label {
	left: 0px;
}

:checked + .switcher_label:after {
	left: 60px;
	background: black;
	color: white;
	content: "BLACK";
	padding-left: 10px;
}

/*===== / SWITCHER FOR THEME=====*/
/*===========================================================================================*/

























/*=====HEADER=====*/
/*===========================================================================================*/

.header {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
}


.menu-background {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: url(../image/1_menu_background.jpg) no-repeat center;
	background-size: cover;
}

.menu-background::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}


.logo_and_phone {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.header-logo {
	position: relative;
}
.header-logo > p {
	font-size: 25px;
	margin-left: 30px;
	margin-top: 15px;
	color: white;
}
.letter_y {
	font-size: 47px;
	position: absolute;
	color: #9a9995;
	font-family: sans-serif;
	font-weight: lighter;
}
.letter_b {
	font-size: 32px;
	position: absolute;
	top: 18px;
	left: 3px;
	color: #9a9995;
	font-family: sans-serif;
	font-weight: lighter;
}
.logo_title_son {
	font-weight: 300;
	font-size: 20px;
}



.header-phone_number {
	margin-left: 60px;
	font-size: 13px;
}
.header-phone_number > a {
	text-decoration: none;
	color: white;
	font-weight: 600;
}
.phone > span {
	margin: 0px 4px;
	color: #e59b37;
}



.header-menu {
	order: 1;
	justify-content: flex-end;
}
/*.menu-list {
	font-size: 13px;
	list-style: none;
	display: flex;
	margin: 22px 0px 0px 0px;
	padding: 0px;
	height: 40px;
}
.menu-list a {
	text-decoration: none;
	color: white;
}
.menu-list li {
	margin: 0px 0px 0px 15px;
}
.menu-list a:hover {
	color: #e59b37 !important;
}*/

.menu-list {
	list-style: none;
	display: flex;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	height: 40px;
}

.menu-list li {
	list-style: none;
}

.menu-list li a {
	position: relative;
	display: block;
	padding: 5px 7px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	overflow: hidden;
}

.menu-list a::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: -100%;
	width: 100%;
	height: 4px;
	background: #e59b37;
	transition: 0.5s;
}

.menu-list a:hover {
	color: #fff !important;
}

.menu-list a:hover::before {
	animation: animate_menu .5s linear forwards; 
}

@keyframes animate_menu {
	0% {
		top: calc(50% - 2px);
		left: -100%;
		height: 4px;
		z-index: 1;
	}
	50% {
		top: calc(50% - 2px);
		left: 0;
		height: 4px;
		z-index: 1;
	}
	100% {
		top: 0;
		left: 0;
		height: 100%;
		z-index: -1;
	}
}

@-webkit-keyframes animate_menu {
	0% {
		top: calc(50% - 2px);
		left: -100%;
		height: 4px;
		z-index: 1;
	}
	50% {
		top: calc(50% - 2px);
		left: 0;
		height: 4px;
		z-index: 1;
	}
	100% {
		top: 0;
		left: 0;
		height: 100%;
		z-index: -1;
	}
}

.icon_for_active-home, .icon_for_active-about, .icon_for_active-competenses, .icon_for_active-video, .icon_for_active-portfolio, .icon_for_active-contact_me, .icon_for_active-testimonials, .icon_for_active-blog {
	display: none;
	text-align: center;
	margin: 0px;
	color: #e59b37;
}

/*===== / HEADER=====*/
/*===========================================================================================*/
























/*=====MAIN-HOME=====*/
/*===========================================================================================*/
.main-home {
	margin-top: 200px;
}

.home_img img {
	width: 540px;
}

.home_content-text {
	color: white;
	text-align: center;
}

.content-text__img {
	position: relative;
}

.contennt-text__img > p {
	font-size: 16px;
	font-weight: 700;
	color: #333333;
	position: absolute;
	left: 230px;
	top: -10px;

}

.home_content-text > h2 {
	font-size: 60px;
	font-weight: 700;
	color: #fefefe;
	margin: 0px;
}

.home_content-text > h3 {
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 400;
	color: #fefefe;
	margin: 30px 0px;
}

.home_content-text > p {
	display: block;
	width: 400px;
	margin: 0px auto;
	font-family: "Open Sans";
	font-size: 16px;
}

.home_content-text > p > a {
	text-decoration: none;
	color: #e59b37;
}


.animation-button {
	position: relative;
	width: 160px;
	height: 40px;
	margin: 60px auto 0px auto;
}


.animation-button > a, .animation-button > button {
	display: block;
	width: 160px;
	height: 40px;
	padding: 10px 0px;
	border: 1px solid #e59b37;
	border-radius: 7px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #e59b37;
}

.animation-button > a:before, .animation-button > button:before {
	content: "";
	background: #e59b37;
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	border-radius: 7px;
	transform: scaleX(0);
	-webkit-transform: scale(0);
	animation: 1s forwards no-hover-v linear;
	-webkit-animation: 1s forwards no-hover-v linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	z-index: -1;
}

.animation-button > a:hover, .animation-button > button:hover {
	color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
}


.animation-button > a:hover:before, .animation-button > a:focus:before,
.animation-button > button:hover:before, .animation-button > button:focus:before {
	animation: .5s forwards hover-v linear;
		-webkit-animation: .5s forwards hover-v linear;
	animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
}

@keyframes hover-v {
	0% {
		transform: scaleX(0);
		-webkit-transform: scale(0);
		height: 5px;
		}
	45% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 5px;
		}
	55% {height: 5px;}
	100% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 40px;
		}
}
@-webkit-keyframes hover-v {
	0% {
		transform: scaleX(0);
		-webkit-transform: scale(0);
		height: 5px;
		}
	45% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 5px;
		}
	55% {height: 5px;}
	100% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 40px;
		}
}

@keyframes no-hover-v {
	0% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 40px;
		}
	45% {height: 5px;}
	55% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 5px;
		opacity: 1;
		}
	100% {
		transform: scaleX(0);
		height: 5px;
		opacity: .02;
		}
}
@-webkit-keyframes no-hover-v {
	0% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 40px;
		}
	45% {height: 5px;}
	55% {
		transform: scaleX(1);
		-webkit-transform: scale(1);
		height: 5px;
		opacity: 1;
		}
	100% {
		transform: scaleX(0);
		height: 5px;
		opacity: .02;
		}
}

.animation-button > a > span {
	margin-left: 7px;
	font-weight: 400;
}
/*===== / MAIN-HOME=====*/
/*===========================================================================================*/
























/*=====MAIN-ABOUT=====*/
/*===========================================================================================*/
.main-about {
	width: 100%;
	margin-top: 100px;
	opacity: 0.9;
}

.bootstrap_container_for_about {
	background: #151515;
	padding-top: 100px;
	padding-bottom: 100px;
}


.about-background-top {
	width: 100%;
	height: 400px;
	z-index: -2;
	background: url(../image/about_1.jpg) no-repeat center;
	background-size: cover;
}

.about-background-top::before {
	content: '';
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.about-content {
	width: 100%;
	background: #333333;
	/*background: #303030;*/
	position: relative;
}

.about-content > img {
	width: 330px;
	position: absolute;
	top: -400px;
}

.about_first_title {
	margin: 0px;
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
}

.about_first_title > span {
	color: #e59b37;
	font-size: 15px;
}

.about_decorative_title {
	margin: 0px;
	position: absolute;
	top: 34px;
	left: -280px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}

.about-text__img {
	margin-top: 40px;
}

.about-text__img > p {
	font-size: 16px;
	font-weight: 700;
	color: #333333;
	position: absolute;
	left: 25px;
	top: 67px;
}

.about_title_full-name {
	margin: 20px 0px 0px 0px;
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
}

.about_title_compet {
	color: #e59b37;
	font-family: "Open Sans - Semibold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.about_decorative_title_cv {
	margin: 0px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 90px;
	font-weight: 700;
}

.button_down_cv {
	text-transform: uppercase;
	position: absolute;
	top: 20px;
	right: 46px;
	text-align: center;
	z-index: 2;
}

.button_down_cv span {
	font-size: 18px;
	margin-left: 7px;
	font-weight: 400;
}

.description_about_me {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}


.about_title_services-and-solutions {
	margin: 100px 0px 10px 0px;
	color: #fefefe;
	font-size: 28px;
	font-weight: 700;
}

.about_title_services-and-solutions > span {
	color: #e59b37;
	font-size: 15px;
}

.about-services_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-services_block div {
	width: 245px;
	margin-top: 30px;
}

.about-services_block span {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #e59b37;
	text-align: center;
	color: #e59b37;
	font-size: 16px;
	padding-top: 5%;
}

.about-services_block_dscr{
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.about-services_block_titles {
	color: #fefefe;
	font-size: 20px;
	font-weight: 400;
}




.about_title_personal-information {
	margin: 100px 0px 40px 0px;
	color: #fefefe;
	font-size: 28px;
	font-weight: 700;
}

.about_title_personal-information > span {
	color: #e59b37;
	font-size: 15px;
}

.about_persolal-information-block {
	background: #383838;
}



.full-name {
	display: flex;
	justify-content: space-between;
}

.full-name_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.full-name_dscr {
	margin: 30px 50px 0px 0px;
	color: #b2b2b2;
	font-size: 17px;
	font-weight: 300;
}

.full-name_dscr span {
	color: #e59b37;
}



.email {
	display: flex;
	justify-content: space-between;
}

.email_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.email_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.email_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.email_dscr span {
	color: #e59b37;
}



.phone {
	display: flex;
	justify-content: space-between;
}

.phone_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.phone_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.phone_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.phone_dscr span {
	color: #e59b37;
}



.skype {
	display: flex;
	justify-content: space-between;
}

.skype_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.skype_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.skype_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.skype_dscr span {
	color: #e59b37;
}



.address {
	display: flex;
	justify-content: space-between;
}

.address_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.address_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.address_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.address_dscr span {
	color: #e59b37;
}



.website {
	display: flex;
	justify-content: space-between;
}

.website_title {
	margin: 30px 0px 0px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.website_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.website_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.website_dscr span {
	color: #e59b37;
}




.social {
	display: flex;
	justify-content: space-between;
}

.social_title {
	margin: 30px 0px 30px 50px;
	color: #fefefe;
	font-size: 17px;
	font-weight: 700;
}

.social_dscr a {
	text-decoration: none;
	color: #b2b2b2;
}

.social_dscr {
	margin: 30px 50px 0px 0px;
	font-size: 17px;
	font-weight: 300;
}

.social_dscr span {
	margin: 0px 0px 0px 10px;
}

.social_dscr span:hover {
	color: #e59b37;
}



.about-map {
	width: 100%;
	height: 350px;
	background: url(../image/world_map_PNG9.png) no-repeat center;
	background-size: cover;
}
/*===== / MAIN-ABOUT=====*/
/*===========================================================================================*/




























/*=====MAIN-COMPETENSES=====*/
/*===========================================================================================*/
/*container_competenses*/
.main-competenses {
	color: white;
	width: 100%;
	background: #333333;
	opacity: 0.9;
}

.bootstrap_container_for_competenses {
	padding: 400px 0px 0px 0px;
	background: #151515;
}

.competenses_decorative_title {
	margin: 0px;
	position: absolute;
	top: 554px;
	left: -375px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}
/* / container_competenses*/





/*competenses*/
.broad_competenses {
	border-bottom: 1px solid #393939;
	padding-bottom: 80px;
}
.competenses_title_competenses {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
}

.competenses_title_competenses > span {
	color: #e59b37;
	font-size: 17px;
}

.competenses_top_description {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.competenses_my-photo img {
	width: 300px;
}

.competenses_my-photo {
	text-align: center;
}
/* / competenses*/










/*ability*/
.broad_ability {
	margin-top: 80px;
	border-bottom: 1px solid #393939;
	padding-bottom: 80px;
}

.competenses_title_ability {
	margin: 0px;
	color: #fefefe;
	font-size: 28px;
	font-weight: 700;
}

.competenses_title_ability > span {
	color: #e59b37;
	font-size: 15px;
}

.ability_description {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.ability_blocks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ability_blocks div {
	padding-right: 20px;
	padding-left: 10px;
	margin-top: 20px;
}

.ability_blocks div > span {
	color: #e59b37;
	font-size: 20px;
	font-weight: 400;
}

.ability_blocks h2 {
	color: #fefefe;
	font-size: 20px;
	font-weight: 400;
}

.ability_blocks p {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.general_block_for_ability {
	width: 25%;
	display: flex;
	align-items: center;
}

.general_ability_animation_block {
	background: #484848;
	display: block;
	width: 8px;
	height: 200px;
	border-radius: 4px;
	margin-right: 10px;
	display: flex;
	align-items: flex-end;
}



.start_html {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_html 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_html {
	0% {
		height: 1px;
	}
	100% {
		height: 180px;
	}
}

@keyframes ability_animation_html {
	0% {
		height: 1px;
	}
	100% {
		height: 180px;
	}
}



.start_css {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_css 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_css {
	0% {
		height: 1px;
	}
	100% {
		height: 180px;
	}
}

@keyframes ability_animation_css {
	0% {
		height: 1px;
	}
	100% {
		height: 180px;
	}
}



.start_javascript {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_javascript 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_javascript {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}

@keyframes ability_animation_javascript {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}



.start_jquery {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_jquery 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_jquery {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}

@keyframes ability_animation_jquery {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}



.start_bootstrap {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_bootstrap 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_bootstrap {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}

@keyframes ability_animation_bootstrap {
	0% {
		height: 1px;
	}
	100% {
		height: 160px;
	}
}



.start_react {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_react 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_react {
	0% {
		height: 1px;
	}
	100% {
		height: 120px;
	}
}

@keyframes ability_animation_react {
	0% {
		height: 1px;
	}
	100% {
		height: 120px;
	}
}



.start_wp {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_wp 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_wp {
	0% {
		height: 1px;
	}
	100% {
		height: 140px;
	}
}

@keyframes ability_animation_wp {
	0% {
		height: 1px;
	}
	100% {
		height: 140px;
	}
}



.start_php {
	background: #e59b37;
	width: 8px;
	height: 1px;
	border-radius: 4px;
	animation: ability_animation_php 2s linear;
	animation-fill-mode: forwards;
}

@-webkit-keyframes ability_animation_php {
	0% {
		height: 1px;
	}
	100% {
		height: 100px;
	}
}

@keyframes ability_animation_php {
	0% {
		height: 1px;
	}
	100% {
		height: 100px;
	}
}
/* / ability*/









/*education*/
.broad_education {
	margin-top: 80px;
	border-bottom: 1px solid #393939;
	padding-bottom: 80px;
}

.education_blocks {
	display: flex;
	flex-wrap: wrap;
}

.background_for_aducation-blocks {
	width: 25%;
	margin-top: 40px;
	text-align: center;
	position: relative;
	padding: 40px 15px;
}

.background_for_aducation-blocks::after {
	content: '';
	background: #393939;
	opacity: 0.5;
	border-radius: 4px;
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 90%;
	height: 100%;
	z-index: 1;
	margin: auto;
}

.background_for_aducation-blocks > div {
	position: relative;
	z-index: 2;
}

.education_blocks div > span {
	color: #e59b37;
	font-size: 40px;
}

.education_blocks div > h2 {
	color: #fefefe;
	font-size: 20px;
	font-weight: 400;
}


.competenses_title_education {
	margin: 0px;
	color: #fefefe;
	font-size: 28px;
	font-weight: 700;
}

.competenses_title_education > span {
	color: #e59b37;
	font-size: 15px;
}

.education_description {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.education_name_academy {
	color: #e59b37;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
}
/* / education*/







/*experiences*/
.experiences_section {
	display: flex;
	justify-content: space-between;
}

.experiences_list {
	list-style: none;
	display: flex;
}

.experiences_list li {
	margin: 0px 0px 0px 10px;
}
/* / experiences*/
/*===== / MAIN-COMPETENSES=====*/
/*===========================================================================================*/




























/*=====MAIN-VIDEO=====*/
/*===========================================================================================*/
.main-video {
	width: 100%;
	color: white;
	position: relative;
	background: #333333;
	opacity: 0.9;
}


.bootstrap_container_for_video {
	padding: 400px 0px 0px 0px;
	background: #151515;
}


.video_decorative_title {
	margin: 0px;
	position: absolute;
	top: 290px;
	left: -184px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}

.video_title_wow_animate {
	position: absolute;
}

.video_top_title {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
	margin: 80px 0px 0px 0px;
}

.video_top_title > span {
	color: #e59b37;
	font-size: 15px;
}

.video_top_dsc {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 10px 0px 50px 0px;
}

/*===== / MAIN-VIDEO=====*/
/*===========================================================================================*/






























/*=====MAIN-PORTFOLIO=====*/
/*===========================================================================================*/
.main-portfolio {
	width: 100%;
	color: white;
	position: relative;
	background: #333333;
	opacity: 0.9;
}

.white_main-portfolio {
	width: 100%;
	color: white;
	position: relative;
	opacity: 0.7;
	background: #FFF;
}

.bootstrap_container_for_portfolio {
	padding: 400px 0px 0px 0px;
	background: #151515;
	/*background: #404040;*/
}

.white_bootstrap_container_for_portfolio {
	padding-bottom: 100px;
	background: #404040;
}



.portolio_top_image {
	width: 100%;
	height: 50px;
	background: url(../image/fon-line_1.jpg) center no-repeat;
	background-size: cover;
}


/*.portolio_top_image::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(30, 30, 30, 0.7);
}*/


.portfolio_decorative_title {
	margin: 0px;
	position: absolute;
	top: 400px;
	left: -270px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}

.portfolio_title_wow_animate {
	position: absolute;
}

.portfolio_top_text-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.portfolio_top_title {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
	margin: 80px 0px 0px 0px;
}

.portfolio_top_title > span {
	color: #e59b37;
	font-size: 15px;
}

.portfolio_top_dsc {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 10px 0px 0px 0px;
}

.portfolio_top_menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}

.portfolio_list_arrows {
	margin: 0px 0px 0px 40px;
	font-size: 18px;
}

.portfolio_list_arrows:hover {
	color: #e59b37;
	cursor: pointer;
}



.portfolio_block_for_project {
	width: 30%;
	position: relative;
	margin: 40px 0px;
	padding: 0px 10px;
}


.portfolio_block_for_project span {
	font-size: 25px;
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #e59b37;
	border-radius: 4px;
	text-align: center;
	padding: 10px 0px;
	color: #e59b37;
	position: absolute;
	top: 30%;
	left: 18%;
	transform: translate(-50%, -50%);
}

.portfolio_border_left-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 1%;
	height: 33.2%;
	top: 49.9%;
	left: 2.8%;
	z-index: 2;
}

.portfolio_border_top-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 31.8%;
	height: 1%;
	top: 0;
	left: 34.3%;
	z-index: 2;
}

.portfolio_border_right-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 1%;
	height: 66.5%;
	top: 16.6%;
	right: 2.6%;
	z-index: 2;
}

.portfolio_border_bottom-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 31.8%;
	height: 1%;
	bottom: 0%;
	left: 34.3%;
	z-index: 2;
}

.thumb {
	position: relative;
}

.thumb img {
	-webkit-filter: grayscale(0);
	filter: none;
	width: 100%;
}

.thumb::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 17%;
	background-color: rgba(0, 0, 0, 0.6);
}

.thumb img:hover {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.block_for_project_title {
	margin: 0px;
	padding: 0px;
	color: #fefefe;
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	left: 5%;
	bottom: 7%;
}

.block_for_project_dsc {
	margin: 0px;
	padding: 0px;
	color: #e59b37;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	position: absolute;
	left: 5%;
	bottom: 0;
}


/*===== / MAIN-PORTFOLIO=====*/
/*===========================================================================================*/































/*===== MAIN-TESTIMONIALS=====*/
/*===========================================================================================*/
.main-testimonials {
	width: 100%;
	color: white;
	position: relative;
	background: #333333;
	opacity: 0.9;
}

.bootstrap_container_for_testimonials {
	padding: 400px 10px 100px 10px;
	background: #151515;
}

.testimonials_decorative_title {
	margin: 0px;
	position: absolute;
	z-index: 100;
	top: 400px;
	left: -360px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}

.testimonials_title_wow_animate {
	position: absolute;
}

.testimonials_top_title {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
	margin: 80px 0px 0px 0px;
}

.testimonials_top_title > span {
	color: #e59b37;
	font-size: 15px;
}

.testimonials_top_dsc {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 10px 0px 0px 0px;
}

.testimonials_top_content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20px;
}

.testimonials_top_menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}

.testimonials_list_arrows {
	margin: 0px 0px 0px 40px;
	font-size: 18px;
}

.testimonials_list_arrows:hover {
	color: #e59b37;
	cursor: pointer;
}







.testimonials_clients {
	position: relative;
	overflow: hidden;
	background: #383838;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px 0px;
	padding: 5px;
}

.client_image {
	position: relative;
	width: 30%;
}

.client_image img {
	width: 100%;
}

.testimonials_border_left-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 1%;
	height: 42%;
	top: 34.7%;
	left: 0%;
	z-index: 2;
}

.testimonials_border_top-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 54.8%;
	height: 1%;
	top: 0;
	left: 10%;
	z-index: 2;
}

.testimonials_border_right-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 1%;
	height: 54.5%;
	top: 9.3%;
	right: 0%;
	z-index: 2;
}

.testimonials_border_bottom-line {
	display: block;
	position: absolute;
	background: #e59b37;
	width: 54.5%;
	height: 1%;
	bottom: 0%;
	left: 35.3%;
	z-index: 2;
}


.client_text {
	margin-left: 2%;
	width: 60%;
}

.testimonials-quote-left {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 70px;
	color: #b2b2b2;
	opacity: 0.2;
	top: -5%;
	left: 31%;
}

.testimonials-quote-right {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 200px;
	color: #b2b2b2;
	opacity: 0.2;
	top: 60%;
	right: 0%;
}

.client_review {
	color: #b2b2b2;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
}

.client_name {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
}

/*===== / MAIN-TESTIMONIALS=====*/
/*===========================================================================================*/


































/*=====MAIN-BLOG=====*/
/*===========================================================================================*/


/*===== / MAIN-BLOG=====*/
/*===========================================================================================*/






























/*=====MAIN-CONTACT-ME=====*/
/*===========================================================================================*/
.main_contact_me {
	width: 100%;
	color: white;
	position: relative;
	background: #333333;
	opacity: 0.9;
}


.bootstrap_container_for_contact_me {
	padding: 400px 0px 100px 0px;
	background: #151515;
}

/*.contact_me_top-image {
	width: 100%;
	height: 50px;
	background: url(../image/fon-line_2.jpg) no-repeat center;
	background-size: cover;
	opacity: 0.9
}*/

/*.contact_me_top-image::after {
	content: '';
	display: block;
	height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(30, 30, 30, 0.7);
}*/


.contact-me_decorative_title {
	margin: 0px;
	position: absolute;
	z-index: 100;
	top: 400px;
	left: -350px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 100px;
	font-weight: 700;
	transform: rotate(270deg);
}

.contact-me_title_wow_animate {
	position: absolute;
}


.contact-me_top_title {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
	margin: 80px 0px 0px 0px;
}

.contact-me_top_title > span {
	color: #e59b37;
	font-size: 15px;
}

.contact-me_top_dsc {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 10px 0px 0px 0px;
}

.form {
	width: 100%;
}

.contact_me_form {
	padding: 0px 30px;
	position: relative;
	z-index: 2;
}

.contact-me_block_for_inputs {
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 10px 0px;
}

.contact-me_block_for_inputs input {
	height: 60px;
	width: 30%;
	background: #343434;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #737373;
	color: #b2b2b2;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
	font-family: sans-serif;
	outline: none;
}

.contact-me_block_for_inputs input:focus {
	border-top: 1px solid #e59b37;
	border-left: 1px solid #e59b37;
	border-right: 1px solid #e59b37;
}

.contact-me_block_for_texarea {
	padding: 0px 0px 30px 0px;
}

textarea {
	width: 100%;
	background: #343434;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #737373;
	font-family: sans-serif;
	color: #b2b2b2;
	font-size: 16px;
	font-weight: 400;
	padding: 20px 0px 0px 20px;
	outline: none;
}

textarea:focus {
	border-top: 1px solid #e59b37;
	border-left: 1px solid #e59b37;
	border-right: 1px solid #e59b37;
}


.contact-me_block_for_buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.contact-me_block_for_buttons_first {
	display: flex;
	align-items: center;
}

.contact-me_block_for_buttons_text {
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 20px;
}

.contact-me_button_submit {
	margin: 0;
	display: block;
}

.contact-me_button_submit input {
	margin: 0;
	display: block;
}

.button_submit {
	text-transform: uppercase;
	background: transparent;
	display: block;

}

.contact-me_button_down_cv {
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
}

.contact-me_decorative_title_cv {
	position: absolute;
	z-index: -2;
	bottom: -165px;
	right: 50px;
	opacity: 0.2;
	color: #fefefe;
	font-size: 90px;
	font-weight: 700;
}


/*===== / MAIN-CONTACT-ME=====*/
/*===========================================================================================*/











/*=====MAIN-CONTACT-ME - MODAL=====*/
/*===========================================================================================*/

.overlay {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(51, 51, 51, 0.9);
	opacity: 0;
	pointer-events: none;
	transition: 0.35s ease-in-out;
	max-height: 100vh;
	overflow-y: auto; }
	.overlay.open {
		opacity: 1;
		pointer-events: inherit; }
	.overlay .modal {
		width: 60%;
		background: #151515;
		text-align: center;
		padding: 50px 80px;
		box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
		opacity: 0;
		pointer-events: none;
		transition: 0.35s ease-in-out;
		max-height: 100vh;
		overflow-y: auto; }
		.overlay .modal.open {
			opacity: 1;
			pointer-events: inherit; }
			.overlay .modal.open .content {
				transform: translate(0, 0px);
				opacity: 1; }
		.overlay .modal .content {
			transform: translate(0, -10px);
			opacity: 0;
			transition: 0.35s ease-in-out; }
		.overlay .modal .title {
			margin-top: 0; }




.modal_contact-me_top_title {
	color: #fefefe;
	font-size: 32px;
	font-weight: 700;
	margin: 0px;
}

.modal_contact-me_top_title > span {
	color: #e59b37;
	font-size: 15px;
}

.modal_contact-me_block_for_buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
}


.close-modal {
	color: #333333;
	font-size: 30px;
	position: absolute;
	top: -5%;
	right: -6%;
}


.close-modal:hover {
	cursor: pointer;
	color: #e59b37 !important;
}


/*===== / MAIN-CONTACT-ME - MODAL=====*/
/*===========================================================================================*/




































/*=====WHITE THEME=====*/
/*===========================================================================================*/

.white_bckg {
	background: white;
}

.white_color {
	color: white;
}

.white_home-background::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/*===== / WHITE THEME=====*/
/*===========================================================================================*/
















